# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright (C) 2026 Adam (a-adz-1) - Buzzer Party, https://github.com/a-adz-1/buzzer-party
# Buzzer Party / RPCS3 - let the logged-in user use PlayStation Buzz! buzzers
# Wired buzzers (054c:0002) and wireless dongle (054c:1000)

# raw USB access (RPCS3 passthrough)
SUBSYSTEM=="usb", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0002", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="1000", MODE="0666"

# hidraw access (buzzer LEDs in Buzzer Party)
KERNEL=="hidraw*", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0002", MODE="0666"
KERNEL=="hidraw*", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="1000", MODE="0666"

# input events (buttons)
KERNEL=="event*", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0002", MODE="0666"
KERNEL=="event*", SUBSYSTEM=="input", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="1000", MODE="0666"
